name: Test Python Tasks

on:
  push:
    branches:
      - submit/tasks

jobs:

  changes:
    runs-on: ubuntu-latest
    outputs:
      tasks: ${{ steps.changed.outputs.tasks }}
      invalid: ${{ steps.changed.outputs.invalid }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Detect changed files
        id: changed
        run: |
          # Проверяем наличие предыдущего коммита
          if git rev-parse HEAD~1 >/dev/null 2>&1; then
              CHANGED="$(git diff --name-only HEAD~1 HEAD)"
          else
              echo "No previous commit — checking all files"
              CHANGED="$(git ls-tree -r --name-only HEAD)"
          fi

          YELLOW = '\e[0;33m'
          NC='\033[0m'
          echo -e "{YELLOW}Changed: "
          echo -e "$CHANGED {NC}"

          INVALID="false"
          TASKS_LIST=()

          # Обрабатываем изменения
          for FILE in $CHANGED; do
            # Файл вне tasks → ошибка
            if [[ "$FILE" != tasks/* ]]; then
              INVALID="true"
            fi

            # Ищем tasks/<theme>/<task>/
            if [[ "$FILE" =~ ^tasks/[^/]+/[^/]+/ ]]; then
              TASK_DIR=$(echo "$FILE" | awk -F/ '{print $1"/"$2"/"$3}')
              # Уникальные значения
              if [[ ! " ${TASKS_LIST[*]} " =~ " ${TASK_DIR} " ]]; then
                TASKS_LIST+=("$TASK_DIR")
              fi
            fi
          done

          # Преобразование в корректный JSON
          if [[ ${#TASKS_LIST[@]} -eq 0 ]]; then
            TASKS_JSON="[]"
          else
            # Формируем строчный JSON-массив в одну строку
            TASKS_JSON=$(printf '%s\n' "${TASKS_LIST[@]}" | jq -R . | jq -s -c .)
          fi

          echo "invalid=$INVALID" >> $GITHUB_OUTPUT
          echo "tasks=$TASKS_JSON" >> $GITHUB_OUTPUT

      - name: Fail if invalid changes
        if: ${{ steps.changed.outputs.invalid == 'true' }}
        run: |
          RED='\033[0;31m'
          NC='\033[0m'
          echo -e "{RED}Error: Some changed files are outside tasks/ directory.{NC}"
          exit 1


  task-tests:
    needs: changes
    if: ${{ needs.changes.outputs.tasks != '[]' }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        task: ${{ fromJson(needs.changes.outputs.tasks) }}

    name: Test ${{ matrix.task }}

    steps:
      - uses: actions/checkout@v4

      - name: Prepare environment
        run: |
          # Install uv
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

          # Create virtual environment
          uv venv --python 3.13.7 .venv
          source .venv/bin/activate

          # Install dependencies
          source .venv/bin/activate
          uv sync --active

          # Install internal library
          source .venv/bin/activate
          uv pip install --upgrade --editable tools/testlib


      - name: Run pytest
        run: |
          source .venv/bin/activate
          pytest ${{ matrix.task }}


      - name: Run ruff
        run: |
          source .venv/bin/activate
          ruff check ${{ matrix.task }}

          
      - name: Run pyrefly
        run: |
          source .venv/bin/activate
          pyrefly check ${{ matrix.task }}
